<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <h1 align="center">{{pageTitle}}</h1>
      <ul class="list-inline">
        <li>
        <li><a href="">ALL</a></li>
        <li><a href="">Java</a></li>
        <li><a href="">PHP</a></li>
        <li><a href="">C/C++</a></li>
      </ul>
      <ul>
        <li><a [routerLink]="['Candidates']" href="">Candidates</a></li>
        <li><a [routerLink]="['Coordinators']" href="">Coordinators</a></li>
      </ul>
    </div>
  </nav>
  <main>
    <section>
      <router-outlet></router-outlet>
    </section>
  </main>
</div>