<div class="col-md-6 col-md-offset-1">
  <div class='panel panel-primary'>
    <div class='table-responsive'>
      <table class='table'>
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='#candidate of candidates'>
            <a href="" [routerLink]="['Candidate', {id: candidate.id}]">
              <td>{{candidate.firstName}} {{candidate.lastName}}</td>
            </a>
            <td>{{candidate.status}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>