<div *ngIf='candidate'>
  <div class='panel-heading' style='font-size:large'>
    <h4>{{candidate.person.firstName}} details:</h4>
  </div>
  <div class='panel-body'>
    <div class='col-md-6'>
      <div class='row'>
        <label class='col-md-4'>First Name:</label>
        <span class='col-md-3'>
                    <input type="text"[(ngModel)]="candidate.person.firstName" />
                </span>
      </div>
      <div class='row'>
        <label class='col-md-4'>Last Name:</label>
        <span class='col-md-3'>
                    <input type="text"[(ngModel)]="candidate.person.lastName" />
                </span>
      </div>
      <div class='row'>
        <label class='col-md-4'>Email:</label>
        <span class='col-md-3'>
                    <input type="text"[(ngModel)]="candidate.contacts.email" />
                </span>

      </div>
      <div class='row'>
        <label class='col-md-4'>Phone Number:</label>
        <span class='col-md-3'>
                    <input type="text"[(ngModel)]="candidate.contacts.phoneNumber" />
                </span>
      </div>
      <div class='row'>
        <label class='col-md-4'>Options:</label>
        <div *ngFor='#option of candidate.optionList'>
          <span class='col-md-2'>
                    <input type="text"[(ngModel)]="option.name" />
                </span>
        </div>
      </div>
      <div class='row'>
        <label class='col-md-4'>CV:</label>
        <span class='col-md-3'>
                    <input type="text"[(ngModel)]="candidate.linkToCV" />
                </span>
      </div>
      
      <div class='row'>
        <label class='col-md-4'>Status:</label>
        <span class='col-md-3'>
                    <input type="text"[(ngModel)]="candidate.status" />
                </span>
      </div>
    </div>
  </div>
  <div>
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</div>