<article>
  <h4>Coordinators</h4>

  <ul class="coordinators">
    <li *ngFor="#coordinator of coordinators | async">
      <a href="" [routerLink]="['Coordinator', {id: coordinator.id}]">
       {{coordinator.id}}. {{coordinator.name}}
      </a>
    </li>
  </ul>
</article>
