<article>
  <div *ngIf="coordinator">
    <h4>{{coordinator.name}} details</h4>

    <div>
      <label for="nametext">Name</label>
      <input type="text" id="nametext" [(ngModel)]="coordinator.name" />
    </div>

  </div>
</article>